@model IEnumerable<Lecture.Models.Student>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    <a asp-action="New" class="btn btn-primary">Create New Student</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(m => m.StudentCode)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Surname)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(m => m.CourseId)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => student.StudentCode)
                </td>
                <td>
                    @Html.DisplayFor(m => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => student.Surname)
                </td>
                <td>
                    @Html.DisplayFor(m => student.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => student.Course)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@student.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
