@model Lecture.ViewModels.NewStudentViewModel
@{
    ViewBag.Title = "Model.Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Students"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Student.StudentCode)
        @Html.TextBoxFor(m => m.Student.StudentCode, new { @class = "form-control", @placeholder = "Enter student's code" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.Name)
        @Html.TextBoxFor(m => m.Student.Name, new { @class = "form-control", @placeholder = "Enter student's name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.Surname)
        @Html.TextBoxFor(m => m.Student.Surname, new { @class = "form-control", @placeholder = "Enter student's surname" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.Email)
        @Html.TextBoxFor(m => m.Student.Email, new { @class = "form-control", @placeholder = "Enter student's e-mail" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Student.CourseId)
        @Html.DropDownListFor(m => m.Student.CourseId, new SelectList(Model.Courses, "Id", "Name"), "Select Course", new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Student.Id)

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
}
