@model Lecture.ViewModels.StudentViewModel
@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Students"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.StudentCode)
        @Html.TextBoxFor(m => m.StudentCode, new { @class = "form-control", @placeholder = "Enter student's code" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StudentName)
        @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control", @placeholder = "Enter student's name" })
        @Html.ValidationMessageFor(m => m.StudentName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter student's e-mail" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseId)
        @Html.DropDownListFor(m => m.CourseId, new SelectList(Model.Courses, "Id", "Name"), "Select Course", new { @class = "form-control" })

    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" class="btn btn-info">Back to List</a>
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}